<li class="follow-index">
  <%= link_to image_tag("#{ user.image }", width: '100', :alt => 'ユーザーアイコン'), posts_show_own_post_user_path(user) %>
  <%= link_to user.name, posts_show_own_post_user_path(user) %>
</li>