<% provide(:title, "ユーザー編集") %>
<% provide(:body_id, "view-background") %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>
<% provide(:button_cancel, '戻る') %>

<!-- パンくずリスト -->
<% breadcrumb :user_edit %>

<h1>ユーザー情報更新</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3" >
    <%= image_tag("#{ @user.image }", class: 'account-page__inner--icon__input__image') %>
    <%= render 'form' %>
  </div>
</div>