<%= link_to gravatar_for(@user, size: 50), @user %>
<h1><%= @user.name %></h1>
<span><%= link_to "マイページ", @user if current_user == @user %></span>
<span><%= pluralize(@user.posts.count, "投稿") %></span>