@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
html, body{
	margin: 0;	/* 余白の削除 */
	padding: 0;	/* 余白の削除 */
	height: 100%;	/* 縦の高さを100% */
	width: 100%;	/* 横の幅を100% */
}

body {
  padding-top: 60px;
}

main {
  padding-bottom: 60px;
}

#wrapper {
  position: relative;
  height: auto !important; /*IE6対策*/
  height: 100%; /*IE6対策*/
  min-height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.btn {
  margin: 5px 5px;
}

table td {
  word-break : break-all;
}

/* header */
#top-bar {
  background: #014099;
}

#menu-bar {
  font-weight: bold;
  a {
    color: #fff;
  }
  a:hover {
    text-decoration: none;
    background: #3665a8;
  }
  a.dropdown-toggle {
    background-color: transparent
  }
  a.dropdown-toggle:hover {
    background: #3665a8;
  }
}

#dropdown-menu-bar {
  a { 
    color: #000;
  }
  a:hover { 
    color: #000;
    background: #C0C0C0
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* 通知マーク */
.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

/* debug */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* ページフッター */
#pageFoot {
  border-top: solid 1px #ccc;
  width: 100%;
  margin-top: 15px;
  position: absolute;
  background: #222;
}

#pageFoot .nav li a {
  padding: 15px;
  color: #ccc;
}

#pageFoot .wrap {
  padding: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pageFoot .nav {
  display: inline-block;
}

#pageFoot .nav li {
  display: inline-block;
}

#page_top {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

.web-copyright {
  color: #fff;
}

#page_top {
  background:#111111;
  color: #fff;
  font-size: 3.0em;
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
}

#page_top a:hover {
  background-color: #666;
  text-decoration: none;
}

/* パンくずリスト */
.breadcrumbs-list {
  a:hover {
    text-decoration: none;
    background: #C0C0C0;
  }
  .current {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
  }
}

/* error_messages */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* ボタン */
.menu-button {
  margin: 20px 0px;
  .mgr-10 {
    margin-left: 10px; 
  }
}

.add-button-box, .delete-button-box {
  margin: 20px 0px;
  a {
    text-decoration: none;
  }
  a:hover {
    opacity: 5.0;
  }
}

/* モーダルウインドウの位置調整 */
.modal-dialog-center {
  padding-top: 10%;
}

.request-modal {
  th, td {
    text-align: center;
  }
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 10px;
    }
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* 投稿 */
.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 20px 0;
    border-top: 1px solid #e8e8e8;
    margin-bottom: 30px;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 10px 0;
      max-width: 50%;
      height: auto;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

aside {
  textarea {
    height: 200px;
    width: 350px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

h4.text-left {
  font-weight: bold;
  padding: 10px, opx;
}

.more {
  cursor: pointer;
  cursor: hand;
}

/* 背景画像 */
#view-background {
  position: absolute;
  background-image: image-url('bg2.jpg');
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}

/* 詳細テーブル */
#table-detail {
  margin-top: 10px;
  td {
    vertical-align: middle;
  }
}

/* 一覧テーブル*/
#table-index {
  margin-top: 10px;
  td {
    text-align: center;
    vertical-align: middle;
  }
  th, tr {
    text-align: center;
  }
}

/* フォーム見出し説明 */
h2.head {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: #000000;
}

h2.head-supplement {
  font-size: 1.2em;
  display: block;
  letter-spacing: -1px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: normal;
  color: #777;
  .h2-text {
    text-align: left;
    display: inline-block;
  }
}

/* フォーム補足説明 */
#form-assist {
  font-size: 0.95em;
  letter-spacing: -1px;
  margin-top: 3px;
  margin-bottom: 5px;
  color: #777;
}

/* 必須ラベル */
.badge {
  background-color: #FF0000;
}

/* 補足書き */
.supplement {
  color: #FF0000;
}

/* ギャップ一覧モーダル */
.gap-index {
  margin-top: 5px;
  text-align: right;
}

/* 検索フォーム */
.search-form {
  position: relative;
  margin: 10px;
  padding: 10px;
  height: 100%;
  background-color:#FFFFEE !important; 
  h2 {
    color: #000000;
    font-size: 1.5em;
  }
  .field {
    padding: 3px;
  }
  .actions {
    text-align: center;
  }
}


