/* 入力フォーム */

.label-create-goalcheck {
  margin-top: 20px;
}

.btn-create-goalcheck {
  margin-top: 20px;
}

.label-edit-goalcheck {
  margin-top: 20px;
}

.btn-edit-goalcheck {
  margin-top: 10px;
}

.datetime-form {
  display: inline-block;
  width: auto;
}

.button {
  margin: 10px 0px 0px;
}

.checkbox-create-goalcheck {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}