/* 投稿フォーム */
.post_form {
  margin-top: 10px;
}

.label-post_form {
  margin-top: 10px;
}

/* 投稿一覧 */
.post_title {
  font-weight: bold
}

.post_content {
  max-width: 100%;
  height: auto;
}

.post_image {
  .images {
    display: block;
    padding: 10px 0;
    max-width: 50%;
    height: auto;
  }
}