/* 入力フォーム */

.label-create-subgoalgap {
  margin-top: 20px;
}

.btn-create-subgoalgap {
  margin-top: 20px;
}

.label-edit-subgoalgap {
  margin-top: 20px;
}

.btn-edit-subgoalgap {
  margin-top: 10px;
}

.datetime-form {
  display: inline-block;
  width: auto;
}

.button {
  margin: 10px 0px 0px;
}