/* マイページ */
#user_show  {
  background-image: image-url('bg3.jpg');
  background-color:rgba(255,255,255,0.8);
  background-blend-mode: lighten;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}

/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* スケジュールテーブル */
.schedule-table {
  th,td {
    vertical-align: middle;
    text-align: center;
  }
}

/* マイページ */
.schedule-button {
  display: block;
  float: left;
  padding: 16px;
}

.admin-button {
  display: block;
  float: center;
  text-align: center;
  padding: 50px;
}

/* 入力フォーム */

.label-signup {
  margin-top: 10px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 10px;
}

.btn-user--edit {
  margin-top: 10px;
}

.account-page__inner--icon__input__image {
  width: 40%;
  display: block;
  margin: auto;
}

.sign-in {
  p {
    font-size: 1.5em;
  }
}

/* ユーザー一覧ページ */

#table-users {
  th.user-name {
    text-align: left;
  }
  th {
    text-align: center;
  }
  td {
    vertical-align: middle;
  }  
}

/* ユーザー検索 */
#search-users {
  float: right;
  text-align: center;
  .form-text {
    display:inline-flex;
  }
  h1 {
    font-size: 1.4em;
    letter-spacing: 5px;
    display: block;
  }
}

/* フォロー、フォロワー一覧 */
li.follow-index {
  margin-top: 10px;
}
