<div class="container">
  <%= link_to "MOKU TATSU", root_path, id: "footer_logo" %>
  <div class="col-xs-12 clo-md-2 col-md-offset-4 mt-3">
    <%= link_to "利用規約", rule_path, id: "rule" %>
  </div>
  <div class="col-xs-12 clo-md-2 col-md-offset-4 mt-3">
    <%= link_to "プライバシーポリシー", policy_path, id: "policy" %>
  </div>
  <div class="text-center web-copyright pt-5 pb-3">
    Copyright&copy; 2021 @zenryokushonensha ALL Rights Reserveed.
  </div>
</div>