<div class="container">
  <div class="inner-block">
    <div class="wrap">
      <%= link_to "MOKU TATSU", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav", id="menu-bar">
          <li><%= link_to "利用規約", rule_path, id: "rule" %></li>
          <li><%= link_to "プライバシーポリシー", policy_path, id: "policy" %></li>
        </ul>
      </nav>
    </div>
  </div><!-- /inner-block -->
  <div class="text-center web-copyright">
        COPYRIGHT&copy; zenryokushonensha ALL Rights Reserveed.
  </div>
</div>